    #loading {
    position: absolute;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
     display: none;
	}
	.back {
        margin:20% auto 0 25%;
        position: absolute;
        align-content: center;
        height: 100%;
        width: 100%;
	}
	.back span {
		font-size:3em;
		color:#F2C640;
		background:#262B37;
		display:table-cell;
		box-shadow:inset 0 0 5px rgba(0,0,0,0.3), 0 5px 0 #ccc;
		padding: 0 10px;
		line-height: 100px;
		animation:jumb 3s infinite;
	}
	@keyframes jumb {
		0% {
			transform:translateY(0px)
		}
		50% {
			transform:translateY(-50px);
			box-shadow:0 15px 0 rgb(242, 198, 64);
		}
		100% {
			transform:translateY(0px)	
		}
	}
	.back span:nth-child(1) {
		animation-delay:0s;
	}
	.back span:nth-child(2) {
		animation-delay:.1s;	
	}
	.back span:nth-child(3) {
		animation-delay:.2s;
	}
	.back span:nth-child(4) {
		animation-delay:.3s;	
	}
	.back span:nth-child(5) {
		animation-delay:.4s;
	}
	.back span:nth-child(6) {
		animation-delay:.5s;	
	}
	.back span:nth-child(7) {
		animation-delay:.6s;
	}
	.back span:nth-child(8) {
		animation-delay:.7s;
	}
	.back span:nth-child(9) {
		animation-delay:.8s;
	}
	.back span:nth-child(10) {
		animation-delay:.9s;
	}
	.back span:nth-child(11) {
		animation-delay:1.0s;
	}
	.back span:nth-child(12) {
		animation-delay:1.1s;
	}
	.back span:nth-child(13) {
		animation-delay:1.2s;
	}
	.back span:nth-child(14) {
		animation-delay:1.3s;
	}
	.back span:nth-child(15) {
		animation-delay:1.4s;
	}
	.back span:nth-child(16) {
		animation-delay:1.5s;
	}
	.back span:nth-child(17) {
		animation-delay:1.6s;
	}
	.back span:nth-child(18) {
		animation-delay:1.7s;
	}
	.back span:nth-child(19) {
		animation-delay:1.8s;
	}